<ion-header>
  <ion-toolbar>
    <ion-title>
      Happy Birthday!!
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background" no-scroll padding>
  <h2 class="top"><i>Happy Birthday Ben!</i></h2>
  <h2 class="bottom"><i>From: Gontse</i></h2>
  <ion-tabs class="bg">
    <ion-tab-bar slot="bottom" class="tabColor">
      <ion-tab-button tab="#" class="tabColor">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="#" class="tabColor">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="#" class="tabColor">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
